

$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;




// .title{
//     text-transform: capitalize;
//     margin: 0;
//     word-break: break-all;
// }

.subtitle{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-bottom: 3rem;
    h5{
        margin: 0.5rem 0 0 0;
    }
}

.blog-post-content{
    font-family: 'Ubuntu', sans-serif;

    img{
        border:  2px solid black;
        width: 100%;
    }


    blockquote{
        border-left: 5px solid $color1;
        padding: 1px 1px 1px 5px;
        p{
            margin: 0;
        }
    }


    hr{
        border: 1px dashed lightgray;
    }

    table{
        border-collapse: collapse;
        border: 2px solid black;
        width: 100%;
        th{
            border: 1px solid black;
            background-color: $color1;
            color: white;
            font-weight: bold;
        }
        td{
            border: 1px solid black;
        }
    }
    strong{
        color: whitesmoke;
        background-color: $color1;
    }
}






.go-back-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0.5rem 0;
    text-transform: capitalize;


    .title{
        font-size: 1.5rem;
        // text-transform: capitalize;
        margin: 0 0 0 20px;
        word-break: break-word;
    }
}