
.number404 {
    font-size: 5rem;
    // text-align: center;
    // margin: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    // background: -webkit-linear-gradient(top, #028F76, #1C2130);
    // background: linear-gradient(top, #1C2130, #028F76);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.sub404{
    text-align: center;
}