

$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;





.tablewrapper{
  overflow-x: auto;
  overflow-y: hidden;
  table{
      border-collapse: collapse;
      border: 2px solid black;
      width: 100%;
      th{
          border: 1px solid black;
          background-color: $color1;
          color: white;
          font-weight: bold;
      }
      td{
          border: 1px solid black;
          padding: 2px;
          a{
            color: $color1;
            cursor: pointer;
            text-decoration: underline;
            // font-weight: bold;
          }
      }
  }
}



.verde{
    background-color: #CCFFCC;
}
.amarelo{
    background-color: #FFFF99;
}
.azul{
    background-color: #CCFFFF;
}
.rosa{
    background-color: #FF99CC;
}
.laranja{
    background-color: #FFCC99;
}
.cinza {
    background-color: whitesmoke;
}

.legenda{
    display: flex;
    margin-bottom: 30px;
    overflow-x: auto;
    .box{
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 10px;
        margin: 0 5px;
    }
}


// td {
//     border-left: 0;
//     border-top: 0;
//     border-bottom: 0;
//     border-right: 0;
//   }
  
//   table {
//     border: none;
//     border-collapse: collapse;
//   }
  
//   .grouplabel {
//     background: blue;
//     color: yellow;
//     border: 1px solid blue;
//     border-radius: 5px;
//   }