

$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;



.form-field {
  display: flex;
  flex-direction: column;
  // background-color: green;
  padding: 5px;

  .form-label-wrapper {
    width: 100%;
    font-weight: border;
    // background-color: blue;
    text-transform: capitalize;
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  .form-input-wrapper {
    width: 100%;
    // background-color: red;
    .form-input{
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $color3;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .form-button{
      width: 100%;
      background-color: $color1;
      color: #fff;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: $color2;
      }
      &:disabled{
        background-color: #cccccc;
        color: #666666;
      }
      
    }
  }
}
.form-field-button{
  display: flex;
  // background-color: orange;
  justify-content: center;
  align-items: center;
  padding: 5px;
  button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    :hover {
      background-color: #45a049;
    }
  }
}


.formalert{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;

    &.error{
      background-color: #F34C56;
      color: #fff;
    }

    &.success{
      background-color: #45a049;
      color: #fff;
    }
}