.titleWrapperEmoji{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titleOnWrapper{
        margin: 5px 5px 5px 0px;
    }
    .titleEmoji{
        margin: 5px 0px 5px 5px;
    }
    margin-bottom: 10px;
}