

$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;





@media screen and (max-width: 600px) {
    .itens {
        display: grid;
        grid-template-columns: repeat( 1, 100% ) ;
        grid-gap: 5px;

        .carditem{
            padding: 1rem;
            // border-style: dashed;
            // border-color: black;
            border-radius: 5px;
            // background: whitesmoke;
            margin: 1px;

            width: 100%;

            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            &:hover {
                background-color: $color1;
                color: whitesmoke;
                font-weight: bold;
            }
        }

    }
}


@media screen and (min-width: 600px) {
    .itens {
        display: grid;
        grid-template-columns: repeat( 3, 33.34% ) ;
        grid-gap: 5px;

        .carditem{
            width: 100%;
            padding: 1rem;
            // border: 2px;
            // border-color: black;
            border-radius: 5px;
            // background: whitesmoke;
            // margin: 5px 5px;
            // border-style: dashed;

            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
            &:hover {
                background-color: $color1;
                color: whitesmoke;
                font-weight: bold;
            }
        }
    }
}


a{
    text-decoration: none;
}

.post-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-left: 5px solid grey;
    text-decoration: none;
    
    // border-bottom: 2px solid grey;

    -webkit-box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);
    box-shadow: 10px 10px 20px -15px rgba(0,0,0,1);
    // // margin: 5px;

    // border: 1px solid black;
    // border-radius: 5px;
    // box-shadow: 2px 2px rgba(0,0,0,1);
    &:hover{
        // box-shadow: 2px 2px grey;
        // border: 2px solid $color1;
        border-left: 5px solid $color1;
        .post-card-title{
            color: $color1;
            // font-weight: bold;
        }
        .post-card-date{
            color: $color1;
        }
    }

    .post-card-title{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        text-transform: capitalize;
    }
    .post-card-date{
        width: 100%;
        text-align: right;
        text-decoration: none;
    }
}

.alert{
    background-color: orange;
    // border-color: ;
    // border: solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px 10px;


    .alert-text{
        margin-left: 10px;
    }
}