

$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;




.tablewrapper{
    overflow-x: auto;
    overflow-y: hidden;
    table{
        border-collapse: collapse;
        border: 2px solid black;
        width: 100%;
        th{
            border: 1px solid black;
            background-color: $color1;
            color: white;
            font-weight: bold;
        }
        td{
            border: 1px solid black;
        }
    }
}



// td {
//     border-left: 0;
//     border-top: 0;
//     border-bottom: 0;
//     border-right: 0;
//   }
  
//   table {
//     border: none;
//     border-collapse: collapse;
//   }
  
//   .grouplabel {
//     background: blue;
//     color: yellow;
//     border: 1px solid blue;
//     border-radius: 5px;
//   }