// @import url('https://fonts.googleapis.com/css?family=Raleway');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');



// $color1: #E1331B;
// $color2: #F85E28;
// $color3: #CCFCEE;
// $color4: #7BD1B8;
// $color5: #3E6C61;


$color1: #02206A;
$color2: #eef2fb;
$color3: #89B9C5;
$color4: #C1DEE2;
$color5: #DDE7DC;
$extra: #F34C56;






html,
body,
#___gatsby{
	min-height: 100vh;
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
	// font-family:  'Raleway', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	// font-family: 'Roboto Condensed', sans-serif;

	// font-family: 'Roboto Condensed', sans-serif;
	// font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	// font-family: 'Josefin Sans', sans-serif;
	// font-family: 'Josefin Sans', monospace;
	// font-family: 'Dosis', sans-serif;
	// font-family: 'Arvo', serif;
	// font-family: 'Rubik', sans-serif;


    // font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}
* {
	box-sizing: border-box;
	color: black;
}




@media screen and (max-width: 600px) {
	.children-wrapper{
		width: 100%;
		height: 100%;
		z-index: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 1rem;
	}
}


@media screen and (min-width: 600px) {
	.children-wrapper{
		width: 100%;
		height: 100%;
		z-index: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 2rem;
	}
}




.children-card{
	background-color: white;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	z-index: 0;
	// border: 1px solid black;
	padding: 1.5rem;
	// box-shadow: 5px 5px  black;
	// box-shadow: inset 5px 1px gold;
	border-radius: 10px;

	// -webkit-box-shadow: 10px 10px 57px 0px rgba(0,0,0,0.75);
	// -moz-box-shadow: 10px 10px 57px 0px rgba(0,0,0,0.75);
	// box-shadow: 10px 10px 57px 0px rgba(0,0,0,0.75);

	-webkit-box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.75);

	

}




.background,
body{
	// background-color: grey;
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	background-color: $color2;
}

.background-top{
	background-color: $color1;
	position: absolute;
	width: 100%;
	height: 250px;
	z-index: -1;


}